
@{ 
    var user = (TransportadoraMVC.Models.Usuario) HttpContext.Current.Session["User"] ?? new TransportadoraMVC.Models.Usuario();
}



<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/iniciarMaterialize.js"></script>
    <link href="~/Scripts/materialize/css/materialize.css" rel="stylesheet" />
    @*<link href="~/Content/principal.css" rel="stylesheet" />*@
    <script src="~/Scripts/materialize/js/materialize.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Inicio Transportadora</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s2">

                    <a href="#" data-target="menu-responsive" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
                </div>
                <div class="col s8">
                    <label for="txtCorreoUsuario" data-error="wrong" data-success="right">
                        @user.Correo;
                    </label>
                </div>
                <div class="col s2">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>@Html.ActionLink("Cerrar Sesión", "Logout", "Access")</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <ul class="sidenav" id="menu-responsive">
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Actividad", "Index", "Actividad")</li>
        <li>@Html.ActionLink("Embarques", "Index", "Embarques")</li>
        <li>@Html.ActionLink("Monedas", "Index", "Monedas")</li>
        <li>@Html.ActionLink("Procesos", "Index", "Procesos")</li>
        <li>@Html.ActionLink("Trazabilidad", "Index", "Trazabilidad")</li>
        <li>@Html.ActionLink("Mi Cuenta", "Index", "Usuarios")</li>
    </ul>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>


    @section scripts
{
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems, options);
            });

        </script>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

