
@{ 
    var user = (TransportadoraMVC.Models.Usuario) HttpContext.Current.Session["User"] ?? new TransportadoraMVC.Models.Usuario();
}

<!DOCTYPE html>
<html>
<head>
    @*JQUERY*@
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>

    @*FRAMEWORK JS*@
    <link href="~/Scripts/materialize/css/materialize.css" rel="stylesheet" />
    <script src="~/Scripts/materialize/js/materialize.js"></script>

    @*PROPIAS*@
    @*<link href="~/Content/principal.css" rel="stylesheet" />*@
    <link href="~/Content/estilos.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Old+Standard+TT&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <script src="~/Scripts/iniciarMaterialize.js"></script>
    <script src="~/Scripts/CambiarPassword.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Inicio Transportadora</title>
</head>
<body>
    <div class="row">
        <div class="col s2">            
            <img class="responsive-img circle logo" src="~/image/logo.png"/>
        </div>
        <div class="col s7">
            <ul class="margen-Menu" id="menu-responsive">
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Actividad", "Index", "Actividad")</li>
                <li>@Html.ActionLink("Embarques", "Index", "Embarques")</li>
                <li>@Html.ActionLink("Monedas", "Index", "Monedas")</li>
                <li>@Html.ActionLink("Procesos", "Index", "Procesos")</li>
                @*<li>@Html.ActionLink("Trazabilidad", "Index", "Trazabilidad")</li>*@
                <li>@Html.ActionLink("Mi Cuenta", "Index", "Usuarios")</li>
            </ul>
        </div>
        <div class="col s3">
            <div>
                <h6 class="right-align fuenteTitulo">Usuario: <b>@user.Correo</b></h6>
            </div>
            <div>
                <h6 class="right-align fuenteTitulo"><b>@Html.ActionLink("Cerrar Sesión", "Logout", "Access")</b></h6>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="page-footer" style= "left: 0;width: 100%;">
        <div class="footer-copyright">
            <div class="container texto-footer center">
                <div>Manizales, Caldas, Colombia</div>
                <div>&copy; @DateTime.Now.Year </div>
            </div>
        </div>
    </footer>

    @section scripts
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems, options);
            });
        </script>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

