@model TransportadoraMVC.EmbarqueReference.Embarque

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Embarque</h2>

<h3>¿Esta seguro que desea eliminar este embarque?</h3>
<div>
    <h4>Embarque</h4>
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayNameFor(model => model.Direccion)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Direccion)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayNameFor(model => model.Telefono)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Telefono)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayNameFor(model => model.Fax)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Fax)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayNameFor(model => model.Contacto)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Contacto)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayNameFor(model => model.OrdenCompra)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.OrdenCompra)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayNameFor(model => model.Consignatario)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Consignatario)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayNameFor(model => model.ZonaAduanera)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.ZonaAduanera)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayNameFor(model => model.Origen)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Origen)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayNameFor(model => model.Destino)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Destino)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayNameFor(model => model.EmbarqueAereo)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.EmbarqueAereo)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayNameFor(model => model.EmbarqueMaritimo)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.EmbarqueMaritimo)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayNameFor(model => model.Contenedor)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Contenedor)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayNameFor(model => model.INCOTERM)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.INCOTERM)
                <hr />
            </div>
        </div>
         <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayNameFor(model => model.Observacion)
                <hr />
            </div>
        </div>
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Observacion)
                <hr />
            </div>
        </div>   

    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btnGuardar" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
