@model TransportadoraMVC.ReferenceEmbarque.Embarque

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Embarque</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="row">
        <div class="col s6 col-md-6 fuente">
            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
        </div>
        <div class="col s6 col-md-6 fuente">
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="row">
        <div class="col s6 col-md-6 fuente">
            @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
        </div>
        <div class="col s6 col-md-6 fuente">
            @Html.LabelFor(model => model.Contacto, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Contacto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Contacto, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col s6 col-md-6 fuente">
            @Html.LabelFor(model => model.OrdenCompra, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.OrdenCompra, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OrdenCompra, "", new { @class = "text-danger" })
        </div>
        <div class="col s6 col-md-6 fuente">
            @Html.LabelFor(model => model.Consignatario, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Consignatario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Consignatario, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col s6 col-md-6 fuente">
            @Html.LabelFor(model => model.ZonaAduanera, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.ZonaAduanera, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ZonaAduanera, "", new { @class = "text-danger" })
        </div>
        <div class="col s6 col-md-6 fuente">
            @Html.LabelFor(model => model.Origen, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Origen, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Origen, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col s6 col-md-6 fuente">
            @Html.LabelFor(model => model.Destino, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Destino, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Destino, "", new { @class = "text-danger" })
        </div>
        <div class="col s6 col-md-6 fuente">
            @Html.LabelFor(model => model.EmbarqueAereo, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.EmbarqueAereo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmbarqueAereo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col s6 col-md-6 fuente">
            @Html.LabelFor(model => model.EmbarqueMaritimo, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.EmbarqueMaritimo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmbarqueMaritimo, "", new { @class = "text-danger" })
        </div>
        <div class="col s6 col-md-6 fuente">
            @Html.LabelFor(model => model.Contenedor, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Contenedor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Contenedor, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col s6 col-md-6 fuente">
            @Html.LabelFor(model => model.INCOTERM, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.INCOTERM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.INCOTERM, "", new { @class = "text-danger" })
        </div>
        <div class="col s6 col-md-6 fuente">
            @Html.LabelFor(model => model.Observacion, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
        </div>
    </div>  

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btnGuardar" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Regresar", "Index", null, new { @class = "regresar" })
</div>
