@model TransportadoraMVC.ProcesoReference.Proceso

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Proceso</h4>
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <div class="fuente">Sucursal</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Sucursal)
                <hr />
            </div>
        </div>

        <div class="form-group">
            <div class="fuente">Nombre</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Nombre)
                <hr />
            </div>
        </div>

        <div class="form-group">
            <div class="fuente">Estado</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Estado)
                <hr />
            </div>
        </div>
    </div>
 </div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btnGenerico", type = "button" }) |
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btnGenerico", type = "button" })
</p>
