@model TransportadoraMVC.Models.Moneda

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Moneda</h2>

<h2>¿Está seguro que desea eliminar este elemento?</h2>
<div>
    <h4>Moneda</h4>
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <div class="fuente">Nombre</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Nombre)
                <hr />
            </div>
        </div>

        <div class="form-group">
            <div class="fuente">Código</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Codigo)
                <hr />
            </div>
        </div>

        <div class="form-group">
            <div class="fuente">Valor Moneda</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Valor)
                <hr />
            </div>
        </div>

        <div class="form-group">
            <div class="fuente">Fecha</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Fecha)
                <hr />
            </div>
        </div>

        <div class="form-group">
            <div class="fuente">Descripción</div>
            <div class="col-md-10 fuenteTitulo">
                @Html.DisplayFor(model => model.Descripcion)
                <hr />
            </div>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btnGenerico" /> 
            @Html.ActionLink("Regresar", "Index", null, new { @class = "regresar" })
        </div>
    }
</div>
