@model IEnumerable<TransportadoraMVC.Models.Moneda>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Monedas</h2>

<p>
    @Html.ActionLink("Crear Moneda", "Create", null, new { @class = "btnGenerico", type = "button" })
</p>
<table class="highlight">
    <tr>
        <th class="fuente">
            Nombre
        </th>
        <th class="fuente">
            Código
        </th>
        <th class="fuente">
            Valor Moneda
        </th>
        <th class="fuente">
            Fecha
        </th>
        <th class="fuente">
            Descripción
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }, new { @class = "btnGenerico", type = "button" })|
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }, new { @class = "btnGenerico", type = "button" })|
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id }, new { @class = "btnGenerico", type = "button" })
        </td>
    </tr>
}

</table>
